<form>
    <div class="form-group">
      <label for="exampleInputName1">Name</label>
      <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPublisher1">Publisher</label>
      <input type="publisher" class="form-control" id="exampleInputPublisher1" placeholder="Publisher">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Add Quote Here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>