<div class="container">
    <div class="the-quote" *ngFor='let quote of quotes; let i = index'>
        <div class="quote-holder" container>
            {{ quote.quote }}
        </div>
        <div class="details-section">
            <span>Author: </span><span>{{ quote.author }}</span>
            <br>
            <span>Submitted by: </span><span>{{ quote.submitter }}</span>
            <br>
            <span>Date Posted: </span><span>{{ quote.date | date }}</span>
            <hr>
            <div class="vote-section">
                <app-quote-details [quote]='quote' (toDelete) = 'deleteQuote($event, i)'></app-quote-details>
            </div>

        </div>
    </div>
</div>